<div class='loz-left'>
  <% if dig.images.first %>
    <%= image_tag dig.images.first.photo.url(:medium), :alt => '' %>
  <% else %>
    <%= image_tag "/images/image-coming-soon.png", :alt => '' %>
  <% end %>
  <% if dig.price_per_week_from > 0 %>
    <div>From <span class="price-per-week"><%= price_per_week_from(dig) %></span> per week</div>
  <% else %>
    <div>Price <span class="price-per-week">unknown</span></div>
  <% end %>
  <div>
    <span class="distance"><%= dig.theatre_distances.scoped(:conditions => ["theatre_id = ?", params['search']['theatre_id']]).first.try(:distance) %></span> miles from the <%= @theatre.name %>
  </div>
</div>
<div class='loz-right'>
  <%= render :partial => 'shared/dig_details', :locals => {:dig => dig} %>
  <%= link_to "Show full details", dig_path(dig), :class => 'show-details' %>
</div>