<span class='dig-type'><%= dig.dig_types.first.name %></span>
<div>from <span class="price-per-week"><%= price_per_week_from(dig) %></span> per week</div>
<div>
  <span class="distance"><%= dig.theatre_distances.scoped(:conditions => ["theatre_id = ?", params[:theatre_id]]).first.try(:distance) %></span> miles from the <%= @theatre.name %>
</div>
<%= render :partial => 'shared/dig_details', :locals => {:dig => dig} %>

<%= link_to "Show full details", dig_path(dig) %>