<% content_for :title do %>
  Find theatre accommodation near to <%= @search.theatre.name %> in <%= "Edinburgh" %>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'search_form' %>
<% end %>

<% unless @search.results.empty? %>
  <% form_tag(search_path, :method => 'get') do %>
    <%= label_tag 'search[sort_by]', 'Sort by...' %>
    <%= select_tag "search[sort_by]", options_for_select(Search::SORT_ORDERS, @search.sort_order) %>

    <% Search::ATTRIBUTES.reject{|a| a == "sort_by"}.each do |attr| %>
      <%= hidden_field_tag "search[#{attr}]", @search.send(attr) %>
    <% end %>

    <%= submit_tag("Go") %>
  <% end %>
  <ul>
  <% @search.results.each do |dig| %>
    <li class="lozenge" id="dig-<%= dig.id %>"><%= render :partial => 'lozenge', :locals => {:dig => dig} %></li>
  <% end %>
  </ul>
<% else %>
  <p>Sorry, no digs matched your search criteria</p>
<% end %>
