<div id='dig'>
  <% if session['last-search'] %><%= link_to 'Back to search results', search_path('search' => session['last-search']) %><% end %>
  <h1 id="name"><%= is_authorised? ? @dig.name : 'Accommodation' %></h1>
  <div class="section">
    <%= image_tag "/images/image-coming-soon.png" %>
    <p>from <strong class="price-per-week-from"><%= price_per_week_from(@dig) %></strong> per week</p>
    <p><span class='dig-type'><%= @dig.dig_types.first.name %></span></p>
  </div>
  <div class="section dig-details">
    <%= render :partial => 'shared/dig_details', :locals => {:dig => @dig} %><br/>
    <%= h @dig.landlords_notes %>
  </div>

  <fieldset id="address">
    <legend>Contact Details:</legend>
    <% if is_authorised? %>
      <%= address_line(@dig.address_1, 'Address') %>
      <%= address_line(@dig.address_2) %>
      <%= address_line(@dig.address_3) %>
      <%= address_line(@dig.postcode, 'Postcode') %>
      <%= address_line(@dig.landline, 'Landline') %>
      <%= address_line(@dig.mobile, 'Mobile') %>
      <%= address_line(@dig.fax, 'Fax') %>
    <% else %>
      <% form_tag authorise_digs_path(:dig_id => @dig.id), :class => 'tour-form' do %>
        <h3>Requires a tour code</h3>
        <p>Sorry. We can’t show these details unless you have a tour code.</p>
        <br/>
        <%= content_tag(:p, @error, :class => 'error') if @error %>
        <%= label_tag :tour_code, "Please enter your tour code:" %><%= text_field_tag :tour_code, nil, :placeholder => 'Tour code' %>
        <%= submit_tag "Done" %>
        <%= link_to 'What is a tour code?', '/faq#what-is-the-tour-code', :class => 'what-is-a-tour-code' %>
      <% end %>
    <% end %>
  </fieldset>
</div>