<% content_for :title do %><% if is_authorised? %><%= "#{@dig.name} - " %><% end %><% end %>

<div id='dig' <%= @dig.member? ? "class = 'member'" : '' %>>
  <% if session['last-search'] %><%= link_to 'Back to search results', search_path('search' => session['last-search']) %><% end %>

  <h1 id="name"><%= is_authorised? ? @dig.name : 'Accommodation' %></h1>
  <p class='first-paragraph'>
    <span class='dig-building'><%= @dig.building %></span> -
    <span class='dig-type'><%= @dig.dig_types.first.name %></span>
    <% if @dig.price_per_week_from > 0 %>
      <span class='price-from'>- from <strong class="price-per-week-from"><%= price_per_week_from(@dig) %></strong> per week</span>
    <% end %>
  </p>

  <div class="section">
    <% if @dig.member? %>
      <%= render :partial => 'member_images' %>
    <% else %>
      <%= render :partial => 'basic_images' %>
    <% end %>

    <% unless @dig.price_per_week.nil? or @dig.price_per_week.empty? %>
      <div>Price per week: <span class='price-per-week'><%= @dig.price_per_week %></span></div>
    <% end %>
    <% unless @dig.price_per_night.nil? %>
      <div>Price per night: <span class='price-per-night'><%= @dig.price_per_night %></span></div>
    <% end %>
  </div>

  <div class="section">
    <div class='landlords-notes'>
      <h2>Description</h2>
      <%= h @dig.landlords_notes %>
    </div>
    <div class='dig-details-container'>
      <h2>Details</h2>
      <ul class="dig-details">
        <li>
          <span class="property">Double rooms</span>
          <span class="number_of_double_rooms value"><%= @dig.number_of_double_rooms %></span>
        </li>
        <li>
          <span class="property">Sofa beds</span>
          <span class="number_of_sofa_beds value"><%= @dig.number_of_sofa_beds %></span>
        </li>
        <li>
          <span class="property">Single rooms</span>
          <span class="number_of_single_rooms value"><%= @dig.number_of_single_rooms %></span>
        </li>
        <li>
          <span class="property">Twin rooms</span>
          <span class="number_of_twin_rooms value"><%= @dig.number_of_twin_rooms %></span>
        </li>
      </ul>

      <h2>Distances</h2>
      <ul class='dig-distances'>
        <% @dig.theatre_distances.each do |theatre_distance|%>
          <li id="theatre-<%= theatre_distance.theatre.id %>">
            <span class="property"><%= theatre_distance.name %></span>
            <span class="value"><%= theatre_distance.distance %></span>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="address">
    <h2>Contact Details</h2>
    <% if is_authorised? %>
      <div class='details'>
        <%= address_line(@dig.address_1, 'Address') %>
        <%= address_line(@dig.address_2) %>
        <%= address_line(@dig.address_3) %>
        <%= address_line(@dig.postcode, 'Postcode') %>
        <%= address_line(@dig.landline, 'Landline') %>
        <%= address_line(@dig.mobile, 'Mobile') %>
        <%= address_line(@dig.fax, 'Fax') %>
      </div>
      <div class='problem'>
        <%= image_tag "/images/thumbs-down.png", :alt => '' %>
        <p>
          Something wrong?<br/>
          No longer offers digs?<br/>
          Incorrect details?<br/>
          <%= link_to "Report Invalid Dig", new_invalid_dig_path(:dig_id => @dig.id), :class => 'report-dig' %>
        </p>
      </div>
      <div style="clear:left"></div>
    <% else %>
      <% form_tag authorise_digs_path(:dig_id => @dig.id), :class => 'tour-form' do %>
        <h3>Requires a tour code</h3>
        <p>Sorry. We can’t show these details unless you have a tour code.</p>
        <br/>
        <%= content_tag(:p, @error, :class => 'error') if @error %>
        <%= label_tag :tour_code, "Please enter your tour code:" %><%= text_field_tag :tour_code, nil, :placeholder => 'Tour code' %>
        <%= submit_tag "Done" %>
        <%= link_to 'What is a tour code?', '/faq#what-is-the-tour-code', :class => 'what-is-a-tour-code' %>
      <% end %>
    <% end %>
  </div>
</div>
