<ul class="dig-details">
  <li>Number of double rooms <span class="number_of_double_rooms"><%= dig.number_of_double_rooms %></span></li>
  <li>Number of sofa beds <span class="number_of_sofa_beds"><%= dig.number_of_sofa_beds %></span></li>
  <li>Number of single rooms <span class="number_of_single_rooms"><%= dig.number_of_single_rooms %></span></li>
  <li>Number of twin rooms <span class="number_of_twin_rooms"><%= dig.number_of_twin_rooms %></span></li>
  <li>Sleeps up to <span class="sleeps"><%= dig.sleeps %></span></li>
</ul>