<%= f.error_messages %>
<p>
  <%= f.label :name %><br/>
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :dig_types %><br/>
  <%= f.select :dig_types, DigType.all.map{|dt| [dt.name, dt.id]}, options = {:selected => @dig.dig_types.map(&:id)}, html_options = {:multiple => true, :size => DigType.all.size} %>
</p>

<p>
  <%= f.label :sleeps %><br/>
  <%= f.text_field :sleeps %>
</p>

<p>
  <%= f.label :number_of_twin_rooms %><br/>
  <%= f.text_field :number_of_twin_rooms %>
</p>

<p>
  <%= f.label :number_of_double_rooms %><br/>
  <%= f.text_field :number_of_double_rooms %>
</p>

<p>
  <%= f.label :number_of_single_rooms %><br/>
  <%= f.text_field :number_of_single_rooms %>
</p>

<p>
  <%= f.label :number_of_sofa_beds %><br/>
  <%= f.text_field :number_of_sofa_beds %>
</p>

<p>
  <%= f.label :landlords_notes %><br/>
  <%= f.text_field :landlords_notes %>
</p>

<p>
  <%= f.label :address_1 %><br/>
  <%= f.text_field :address_1 %>
</p>

<p>
  <%= f.label :address_2 %><br/>
  <%= f.text_field :address_2 %>
</p>

<p>
  <%= f.label :address_3 %><br/>
  <%= f.text_field :address_3 %>
</p>

<p>
  <%= f.label :postcode %><br/>
  <%= f.text_field :postcode %>
</p>

<p>
  <%= f.label :landline %><br/>
  <%= f.text_field :landline %>
</p>

<p>
  <%= f.label :mobile %><br/>
  <%= f.text_field :mobile %>
</p>

<p>
  <%= f.label :fax %><br/>
  <%= f.text_field :fax %>
</p>

