<%= f.error_messages %>
<p>
  <%= f.label :name %><br/>
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :dig_type_ids, "Dig Type" %><br/>
  <%= f.select :dig_type_ids, DigType.all.map{|dt| [dt.name, dt.id]}, options = {:selected => @dig.dig_types.map(&:id)}, html_options = {:multiple => true, :size => DigType.all.size} %>
</p>

<p>
  <%= f.label :price_per_week_from, "Price per week from" %><br/>
  £<%= f.text_field :price_per_week_from_pounds, :style => 'width:35px', :maxlength => 5 %>.<%= f.text_field :price_per_week_from_pence, :style => 'width:25px', :maxlength => 2 %>p
</p>

<p>
  <%= f.label :price_per_week %><br/>
  <%= f.text_field :price_per_week %>
</p>

<p>
  <%= f.label :price_per_night %><br/>
  <%= f.text_field :price_per_night %>
</p>

<p>
  <%= f.label :building %><br/>
  <%= f.text_field :building %>
</p>

<p>
  <%= f.label :sleeps %><br/>
  <%= f.text_field :sleeps %>
</p>

<p>
  <%= f.label :number_of_twin_rooms %><br/>
  <%= f.text_field :number_of_twin_rooms %>
</p>

<p>
  <%= f.label :number_of_double_rooms %><br/>
  <%= f.text_field :number_of_double_rooms %>
</p>

<p>
  <%= f.label :number_of_single_rooms %><br/>
  <%= f.text_field :number_of_single_rooms %>
</p>

<p>
  <%= f.label :number_of_sofa_beds %><br/>
  <%= f.text_field :number_of_sofa_beds %>
</p>

<p>
  <%= f.label :landlords_notes, @dig.member? ? "Landlords notes" : "Landlords notes (only 140 characters allowed)" %><br/>
  <%= f.text_field :landlords_notes %>
</p>

<p>
  <%= f.label :address_1 %><br/>
  <%= f.text_field :address_1 %>
</p>

<p>
  <%= f.label :address_2 %><br/>
  <%= f.text_field :address_2 %>
</p>

<p>
  <%= f.label :address_3 %><br/>
  <%= f.text_field :address_3 %>
</p>

<p>
  <%= f.label :postcode %><br/>
  <%= f.text_field :postcode %>
</p>

<p>
  <%= f.label :landline %><br/>
  <%= f.text_field :landline %>
</p>

<p>
  <%= f.label :mobile %><br/>
  <%= f.text_field :mobile %>
</p>

<p>
  <%= f.label :fax %><br/>
  <%= f.text_field :fax %>
</p>

<p>
  <%= f.label :landlords_notes %><br/>
  <%= f.text_area :landlords_notes %>
</p>

<% if in_admin_area? %>
  <br/>
  <p>
    <%= f.label :member, "Is a member" %>
    <%= f.check_box :member %>
  </p>
<% end %>

<% if in_admin_area? %>
  <fieldset style="border:1px solid #999; margin:20px 0 20px 0; padding:10px">
    <legend style='margin-left:20px'>Theatre Distances</legend>
    <% f.fields_for :theatre_distances do |distances_fields| %>
      <%= label :distance, distances_fields.object.name %>
      <%= distances_fields.text_field :distance, :size => 10 %>
    <% end %>
  </fieldset>
<% end %>

<fieldset style="border:1px solid #999; margin:20px 0 20px 0; padding:10px">
  <legend style='margin-left:20px'>Privacy settings</legend>
  <%= f.label :privacy, "Please choose your privacy level:" %><br/>
  <%= f.select :privacy, Dig::PRIVACY_OPTIONS, options = {:selected => @dig.privacy} %>
</fieldset>

