<h1>Digs</h1>

<%= link_to "Upload Digs sheet", :action => 'upload_dig_sheet_form' %>
<br/>
<br/>
<%= link_to "Create Dig &raquo;", new_admin_dig_path %><br/>

<table>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
<% @digs.each do |dig| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%= dig.name %></td>
    <td><%= link_to "Edit", edit_admin_dig_path(dig) %></td>
  </tr>
<% end %>
</table>