<h1>Digs</h1>

<%= link_to "Upload Digs sheet", :action => 'upload_dig_sheet_form' %>
<br/>
<br/>
<%= link_to "Create Dig &raquo;", new_admin_dig_path %><br/>

<table>
  <tr>
    <th>Name</th>
    <th>Edit URL</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @digs.each do |dig| %>
  <tr class="<%= cycle('odd', 'even') %> <%= dig.published? ? "published" : "unpublished" %>">
    <td><%= dig.name %></td>
    <td><%= edit_dig_path(dig.hash_code) %></td>
    <td><%= link_to "Regenerate dig path", regenerate_dig_path_admin_digs_path(:id => dig.id), :method => 'post', :confirm => "Are you sure you want to regenerate the path for #{dig.name}" %></td>
    <td><%= link_to "View", dig_path(dig) %></td>
    <td><%= link_to "Images", admin_dig_images_path(dig.hash_code) %></td>
    <td><%= link_to "Edit", edit_admin_dig_path(dig) %></td>
    <td><%= link_to  "#{dig.published? ? 'Unpublish' : 'Publish'}", toggle_published_admin_digs_path(:id => dig.id), :method => :post %></td>
    <td><%= link_to "Delete", admin_dig_path(dig), :method => 'delete', :confirm => "Are you sure you want to delete #{dig.name}" %></td>
  </tr>
<% end %>
</table>