<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title><%= yield :title %></title>
    <%= stylesheet_link_tag "reset-min" %>
    <%= stylesheet_link_tag "theatre-digs-booker" %>
    <%= render 'shared/header' %>
    <meta name="google-site-verification" content="k3IJFHpZamYaQl62L32I599qsIApHlySTX0oewR_loM" />
  </head>
  <body class="<%= javascript_feature_classes %>">
    <div id="page">
      <div id="header">
        <a href="/"><img src="/images/logo.png" alt="Theatre Digs Booker" title="Theatre Digs Booker"/></a>
      </div>
      <div id="container">
        <div id="sidebar">
          <%= yield :sidebar %>
        </div>
        <div id="content">
          <%= yield %>
        </div>
        <%= render :partial => 'shared/footer' %>
      </div>
    </div>
    <%= render :partial => 'shared/google_analytics' %>
  </body>
</html>