<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title><% if @dig && is_authorised? %><%= "#{@dig.name} - " %><% end %>Theatre Digs Booker</title>
    <%= stylesheet_link_tag "reset-min" %>
    <%= stylesheet_link_tag "theatre-digs-booker" %>
    <meta name="description" content="Find accommodation theatre accommodation for the Edinburgh festival"/>
    <meta name="keywords" content="theatre digs, theatre accommodation, Edinburgh, Edinburgh Festival, self catering, living with landlord"/>
  </head>
  <body>
    <div id="page">
      <div id="header">
        <a href="/"><img src="/images/logo.png" alt="Theatre Digs Booker" title="Theatre Digs Booker"/></a>
      </div>
      <div id="container">
        <div id="one-column-content">
          <%= yield %>
        </div>
        <%= render :partial => 'shared/footer' %>
      </div>
    </div>
    <%= render :partial => 'shared/google_analytics' %>
  </body>
</html>